<div class="hero hero-full">
  <div class="container white">
    <h2>All movies</h2>
    <br>
    <% @movies.each do |movie| %>
    <ul>
      <li>
          <strong><%= movie.title %></strong> -
          <%= movie.rating %> / 10
        </li>
    </ul>
  <% end %>
  <br>
  <%= link_to 'Add new movie', new_movie_path, class: "btn btn-primary" %>
  <%= link_to 'â† Go back', lists_path, class: "btn link" %>
  </div>
</div>
